<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register Modal</title>
</head>
<body>
  <section title="Register Modal">
    <h1>Register</h1>
    <h4>Register to the GEM Network as:</h4>
    <div>
      <h4>Youth</h4>
      <p>Engaged youth ages 12-24 who are passionate about changing the world.</p>
    </div>
    <div>
      <h4>Supporter</h4>
      <p>Leaders, mentors, schools, non profit organizations, companies.</p>
    </div>
    <a href="">Cancel</a>
  </section>
</body>
</html>
