<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign In</title>
</head>
<body>
  <header>
    <p>Sign In</p>
  </header>
  <main>
    <form action="#" method="post">
      <fieldset>
        <legend>Please enter your email and password</legend>
        <label for="sign-in-email">
          <input id="sign-in-email" type="text" placeholder="Email">
        </label>
        <label for="sign-in-password">
          <input id="sign-in-password" type="password" placeholder="password">
        </label>
        <label for="sign-in">
          <input id="sign-in" type="submit" value="Sign In">
        </label>
      </fieldset>
    </form>
    <div> <a href="">Forgot your password?</a> </div>
    <br>
    <div> <a href="">Cancel</a> </div>
  </main> 
</body>
</html>
