<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Youth Profile</title>
</head>
<body>
  <section title="youth-profile">
    <h2>Welcome to the Global Empowerment Mandala!</h2>
    <div><small>There are just a few things that we would like to know about you to get you started.</small></div>  
    <br>
    <form action="#" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend></legend>
        <img src="default.png" width="120" height="120" alt="default profile picture">
        <br>
        <label for="youth-profile-upload">
          <input id="youth-profile-upload" type="file">
        </label>
        <br>
        <label for="youth-profile-country">
          Choose your Country:
          <select id="youth-profile-country">
            <option value="USA">United States</option>
          </select>
        </label>
        <br>
        <label for="youth-profile-state">
          State:
          <select id="youth-profile-state">
            <option value="AK">Alaska</option>
          </select>
        </label>
        <br>
        <label for="youth-profile-city">
          City:
          <select id="youth-profile-city">
            <option value="Juno">Juno</option>
          </select>
        </label>
        <br>
        <label for="youth-profile-first-name">
          First Name: <input id="youth-profile-first-name" type="text">          
        </label>
        <br>
        <label for="youth-profile-last-name">
          Last Name: <input id="youth-profile-last-name" type="text">          
        </label>
        <br>
        <label for="youth-profile-day">
          Date of Birth:
          <select id="youth-profile-day">
            <option value="">Day</option>
          </select>  
        </label>
        <label for="youth-profile-month">
          <select id="youth-profile-month">
            <option value="">Month</option>
          </select>
          </label>
        <label for="youth-profile-year">
          <select id="youth-profile-year">
            <option value="">Year</option>
          </select>
	    </label>               
        <div>Causes You're interested in</div>
        <div><small>Select all that apply</small></div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div> 
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>      
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div>
        <div>
          <h4>Cause</h4>
          <div>Short Description of the cause and what it stands for</div>
        </div> 
        <br>
        <label for="youth-profile-join">
          <input id="youth-profile-join" type="submit" value="Join the Movement!">
        </label> 
      </fieldset>
    </form>
  </section> 
</body>
</html>
