.signup-count {
  margin-top: 30px;
}

.gem-logo-primary {
  max-width: 50%;
  margin-bottom: 20px;
  margin-left: -5%;
  width: 100%;
}

body {
  font-family: 'Roboto', 'Trebuchet', 'Arial', sans-serif;
  font-size: 20px;
  background-image: url("/background3.png");

}

section {
  margin: auto;
  width: 70%;
  text-align: center;
}

h1 {
  font-size: 45px;
}

blockquote {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 35px;
}

p {
  margin-bottom: 30px;
}

form {
  padding: 25px;
  border: 2px solid gray;
}

legend {
  font-size: 17px;
  margin-bottom: 5px;
}

footer {
  margin-top: 5px;
  font-size: 16px;
}

fieldset {
  border: 0;
}

input[type="email"] {
  border: 1px solid black;
  width: 100%;
  padding: 8px 10px;
  line-height: 20px;
  border-radius: 7px;
}

button[type="submit"] {
  border: 1px solid black;
  padding: 8px 13px;
  font-size: 14px;
  height: 38px;
  background-color: orange;
  border-radius: 7px;
  border-style: solid;
}

::-webkit-input-placeholder {
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
}

land
::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
}

:-ms-input-placeholder {
   font-size: 14px;
}

.grey-font{
  h1,h2, h3{color:grey;}
  h3{font-size:25px;}
  font-variant: small-caps;
  a{color:grey;}
  a:link {
    text-decoration: none;
  }
}

.BrowseProjects{
background-color: #FF942B;
margin-top:80px; 
text-align: center;
h1,h2,h3 {color: white; margin:50px;}
h3{font-size:20px;}
}

.nav-styling{
  background-image: url("/background3.png");
  margin-top: 20px;
}

.logo-styling{
  height: 150px;
}

button {
  border: 1px solid #666;
  color:white;
  font-size:0.8em;
  background-color: indigo;
}

