<template name="signin">
  <section title="sign-in">
    <h1>Sign In</h1>
    <form action="#" method="post">
      <fieldset>
        <legend>Please enter your email and password</legend>
        <label for="sign-in-email">
          <input id="sign-in-email" type="text" placeholder="Email">
        </label>
        <label for="sign-in-password">
          <input id="sign-in-password" type="password" placeholder="password">
        </label>
        <label for="sign-in">
          <input id="sign-in" type="submit" value="Sign In">
        </label>
      </fieldset>
    </form>
    <a href="">Forgot your password?</a>
    <a href="">Cancel</a>
  </section>
</template>
